{% extends "layout.html" %} {% block body %} {% if find_topics is defined %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" colspan="2">Aiheet</th>
      <th scope="col">Aihe luotu</th>
    </tr>
  </thead>
  {% for topic in find_topics %}
  <tbody>
    <tr>
      <td>
        <ion-icon size="large" style="display:block;
        display:block;
        margin: auto;
        margin-top: 10px;" name="chatboxes"></ion-icon>
      </td>
      <td>
        <a href="{{ url_for('topic_link', topic_id=topic.id) }}" name="{{ topic.name }}">{{ topic.name }}</a>
        <br />
        {{ topic.desc }}
      </td>
      <td>
        {{ topic.created }}
      </td>
    </tr>
  </tbody>
  {% endfor %} {% endif %}
</table>
<a class="btn btn-primary my-2 mx-2 my-sm-0" href="{{ url_for('topics_form', category_id=category_id) }}">Luo uusi
  aihe</a>

{% endblock %}