{% extends "layout.html" %} {% block body %} {% if user_info is defined %}
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2>Profiilisivu</h2>
            </div>
            <div class="card-body text-left ">
                <ul class="list-unstyled mt-5 mb-4 ">
                    <li>Käyttäjänimi: {{ user.username }}</li>
                    <li>Nimi: {{ user.name }}</li>
                </ul>
                {% if current_user.id == user.id %}
                <a class="btn btn-primary " href="{{ url_for('user_editlink', user_id=user_id) }}">Muuta tietojasi</a>
                {% endif %} {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}