{% extends "layout.html" %} {% block body %}
{% if find_posts is defined %}
{% if topics_info is defined %}
{% for topic in topics_info %}

<section class="container">
  <div class="panel panel-default">
    <div class="card mb-4">
        <div class="card-header">
      <h1 class="my-4 text-center ">{{ topic.name }}</h1>
      </div>
      <div class="card-body">
      <h3 class="my-4 text-center">{{ topic.desc }}</h3>
      <div class="text-right">
      <a class="font-weight-light text-dark text-right" href="/user/{{ topic.userid }}">- {{ topic.username}}</a>
      <p class="my-2 font-weight-light text-right">Aihe luotu: {{ topic.date }} </p>
    </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <section class="row panel-body">
    <section class="col-md-12">
      {% for post in find_posts %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <a class="font-weight-normal text-dark" href="/user/{{ post.userid }}">{{ post.username}}</a>
            <p class="my-2 font-weight-normal ">{{ post.date }} </p>
        </div>
        <div class="card-body">
          {{ post.message }}
        </div>
      </div>



      {% endfor %} {% endif %} {% endif %}


      {% if current_user.is_authenticated %}
      <form method="POST" action="{{ url_for('message_create', topic_id=topic_id) }}">
        {% for error in form.message.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {{ form.message (cols="155", rows="5") }}
        <td colspan="2">
          <br>
          <input type="submit" value="Lähetä viesti" />
        </td>
      </form>
      {% endif %}
    </section>
  </section>
  {% endblock %}